spring:
  application:
    name: cloud-storage-backend

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # first deploy only
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}
  expiration: 604800000

google:
  client:
    id: ${GOOGLE_CLIENT_ID:}

app:
  base-url: ${APP_BASE_URL:http://localhost:8080}
  frontend-url: ${APP_FRONTEND_URL:http://localhost:3000}

file:
  storage-type: local
  upload-dir: uploads

share:
  link:
    base-url: ${APP_FRONTEND_URL}/s
    default-expiry-days: 30

logging:
  level:
    root: INFO
